/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.heroes li {
    display: flex;
}

.heroes button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
}

.heroes button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
}

.heroes button:active {
    background-color: #525252;
    color: #fafafa;
}

.heroes button.selected {
    background-color: black;
    color: white;
}

.heroes button.selected:hover {
    background-color: #505050;
    color: white;
}

.heroes button.selected:active {
    background-color: black;
    color: white;
}

.heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.heroes .name {
    align-self: center;
}

/* Global Styles */
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #264D73;
    font-size: 2.5rem;
}

h2,
h3 {
    color: #444;
    font-weight: lighter;
}

h3 {
    font-size: 1.3rem;
}

body {
    padding: .5rem;
    max-width: 1000px;
    margin: auto;
}

@media (min-width: 600px) {
    body {
        padding: 2rem;
    }
}

body,
input[text] {
    color: #333;
    font-family: Cambria, Georgia, serif;
}

a {
    cursor: pointer;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: black;
    color: white;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}

nav a:hover {
    color: white;
    background-color: #42545C;
}

nav a.active {
    background-color: black;
    color: white;
}

hr {
    margin: 1.5rem 0;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
}


/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */